<header class="header-user-dropdown">

    <div class="header-limiter">
        <h1>Embedded Lab.</h1>

        <nav>
            <a  ng-if="currentUser.role == userRoles.coach " href="index.html#/adicionar-usuario">Adicionar Graduando</a>
            <a href="index.html#/usuarios">Listar Graduandos</a>
        </nav>

        <div class="header-user-menu">
            <img src="css/image/user.png" alt="User Image"/>

            <ul>
                <li><a ng-click="logout()">Logout</a></li>
                <li><a href="">Settings</a></li>
            </ul>
        </div>

    </div>

</header>
