<div class="jumbotron login centered">

	<div>
		<h3 class="text-center">Capacitação Embedded</h3>
	</div>

	<form name="login.loginForm">
		<input type="email" class="form-control" placeholder="Email" name="email" ng-required="true" ng-pattern="/^[a-zA-Z]+\.[a-zA-Z]+@embedded\.ufcg\.edu\.br$/" ng-model="login.credenciais.email">
		<input type="password" name="senha" class="form-control" placeholder="Senha" ng-required="true" ng-minlength="8" ng-model="login.credenciais.senha">

		<button class="btn btn-primary btn-block form-control" ng-disabled="!login.loginForm.$valid" ng-click="logar(login.credenciais)"> Entrar</button>
	</form>
	
	<div ng-messages="login.loginForm.email.$error" ng-show="login.loginForm.email.$dirty">
		<div class="alert alert-danger" ng-message="required">
			O campo email não pode ser vazio
		</div>
		<div class="alert alert-danger" ng-message="pattern">
			O email deve ter o formato nome.sobrenome@embedded.ufcg.edu.br
		</div>
	</div>

	<div ng-messages="login.loginForm.senha.$error" ng-show="login.loginForm.senha.$dirty">
		<div class="alert alert-danger" ng-message="required">
			A senha não pode ser vazio
		</div>
		<div class="alert alert-danger" ng-message="minlength">
			A senha deve ter pelo menos 8 caracteres
		</div>
	</div>
</div>