<div class="jumbotron centered usuarios">
	{{userCtrl.users}}
	<table class="table table-striped">
		<thead>
			<th>Nome</th>
			<th>Idade</th>
			<th>Email</th>
			<th>Role</th>
			<th>Coach</th>
			<th></th>
		</thead>
		<tbody>
			<tr ng-repeat="user in usersCtrl.users">
				<td><a href="user/{{user.id}}">{{user.name}}</a></td>
				<td>{{getAge(user.dateOfBirth)}}</td>
				<td>{{user.email}}</td>
				<td>{{user.role}}</td>
				<td>{{user.coach}}</td>
				<td ng-if="usersCtrl.currentUser.role == usersCtrl.userRoles.coach"><button ng-click="usuariosCtrl.remover(usuario)" class="btn btn-danger btn-block">Remover usuario</button></td>
			</tr>
		</tbody>
	</table>

	<div ng-show="error">
		<ui-alert>{{error}}</ui-alert>
	</div>
</div>