<div class="jumbotron centered usuarios">
	<table class="table table-striped">
		<thead>
			<th>Nome</th>
			<th>Idade</th>
			<th>Email</th>
			<th>Role</th>
			<th>Coach</th>
			<th></th>
		</thead>
		<tbody>
			<tr ng-repeat="usuario in usersCtrl.usuarios">
				<td><a ng-href="#usuario/{{usuario.id}}">{{usuario.nome}}</a></td>
				<td>{{usuario.idade}}</td>
				<td>{{usuario.email}}</td>
				<td>{{usuario.role}}</td>
				<td>{{usuario.coach}}</td>
				<td><button ng-click="usuariosCtrl.remover(usuario)" class="btn btn-danger btn-block">Remover usuario</button></td>
			</tr>
		</tbody>
	</table>
</div>