.centered{
	margin: auto auto;
}

.usuario{
	width: 40%;
}

.nao-encontrado{
	margin-top: 20%;
}

.usuario .form-control{
	margin-bottom: 2%;
}

.usuarios{
	width: 65%;
	margin-top: 5%;
}

.login{
	width: 23%;
	margin-top: 15%;
}

input[type="email"]{
	text-transform: lowercase;
}

.alert{
	margin-top: 5%;
	word-wrap: break-word;
}

.login .form-control{
	margin-top: 5%;
}
