<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <style type="text/css">
        .jumbotron {
            width: 60%;
            margin: auto;
            text-align: center;
        }

        table {
            margin-top: 5%;
            text-align: left;
        }

        .form-control {
            margin-top: 1%;
            margin-bottom: 1%;
        }

        .selecionado {
            font-weight: bold;
        }
    </style>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="lib/angular/i18n/angular-locale_pt-br.js"></script>
    <script>
        angular.module('listaTelefonica', ['ngMessages']);
        angular.module('listaTelefonica').controller('listaTelefonicaCtrl', function ($scope) {
            $scope.app = "Lista Telefonica";

            $scope.contatos = [{nome: "Kundera", telefone: "95966785", data: new Date()},
                {nome: "Wegner", telefone: "91966785", data: new Date()},
                {nome: "Frederic Chopin", telefone: "93966785", data: new Date()},
                {nome: "Amadeus", telefone: "92966785", data: new Date()}];

            $scope.operadoras = [{nome: "Tim", codigo: 99, categoria: "Movel", preco: 10},
                {nome: "Oi", codigo: 20, categoria: "Movel", preco: 0.5},
                {nome: "Vivo", codigo: 15, categoria: "Movel", preco: 2},
                {nome: "Claro", codigo: 15, categoria: "Movel", preco: 3},
                {nome: "GVT", codigo: 26, categoria: "Fixo", preco: 1.5},
                {nome: "Embratel", codigo: 21, categoria: "Fixo", preco: 4}];

            $scope.adicionarContato = function (contato) {
                contato.data = new Date();
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            }

            $scope.isContatoSelecionado = function (contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado;
                });
            }

            $scope.apagarContatos = function (contatos) {
                $scope.contatos = contatos.filter(function (contato) {
                    return !contato.selecionado;
                });
            }

            $scope.ordenarPor = function (campo, direcaoOrdenacao){
                $scope.criterioOrdenacao = campo;
                $scope.direcaoOrdenacao = !direcaoOrdenacao;
            }

        });
    </script>
</head>
<body>
<div class='jumbotron' ng-controller='listaTelefonicaCtrl'>
    <h3>{{app}}</h3>
    {{contato}}
    <table class="table table-striped" ng-hide="contatos.length === 0">
        <tr>
            <th><a href="" ng-click="ordenarPor('nome', direcaoOrdenacao)">Nome</a></th>
            <th><a href="" ng-click="ordenarPor('telefone', direcaoOrdenacao)">Telefone</a></th>
            <th>Operadora</th>
            <th>Adicionado em</th>
            <th></th>
        </tr>
        <input type="text" class="form-control" ng-model="criterioBusca">
        <tr ng-repeat="contato in (contatos | orderBy:criterioOrdenacao:direcaoOrdenacao) | filter:{nome: criterioBusca}" ng-class="{selecionado : contato.selecionado}">
            <td>{{contato.nome | limitTo:8}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora}}</td>
            <td>{{contato.data | date:'MM/dd/yyyy'}}</td>
            <td><input type="checkbox" class="form-control" ng-model="contato.selecionado"/></td>
        </tr>
    </table>

    <form name="contatoForm">
        <input type="text" name="nome" class="form-control" ng-model="contato.nome" placeholder="Nome"
               ng-required="true" ng-minlength="10"/>
        <input type="text" name="telefone" class="form-control" ng-model="contato.telefone" placeholder="Telefone"
               ng-required="true" ng-pattern="/\d{4,5}-\d{4}/"/>

        <select class="form-control" ng-model="contato.operadora"
                ng-options="operadora.nome as operadora.nome + ' (' + (operadora.preco | currency) + ') ' group by operadora.categoria for operadora in operadoras">
            <option value="">Secione uma operadora</option>
        </select>
    </form>

    <div ng-messages="contatoForm.nome.$error" ng-show="contatoForm.nome.$dirty">
        <div ng-message="required" class="alert alert-danger">
            Por favor, preencha o nome
        </div>

        <div ng-message="minlength" class="alert alert-danger">
            O nome deve ter pelo menos 10 caracteres
        </div>
    </div>

    <div ng-messages="contatoForm.telefone.$error" ng-show="contatoForm.telefone.$dirty">
        <div class="alert alert-danger" ng-message="required">
            Por favor, preencha o telefone
        </div>

        <div class="alert alert-danger" ng-message="pattern">
            O telefone deve ter o formato DDDDD-DDDD
        </div>
    </div>

    <button ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid"
            class="form-control btn btn-primary btn-block">Adicionar Contato
    </button>

    <button ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)"
            class="form-control btn btn-danger btn-block">Apagar Contato
    </button>

</div>
<div class="footer" ng-include="'footer.html'"></div>
</body>
</html>