 <div class="jumbotron">
        <div class="alert alert-danger" ng-show="erroRequisicao">
            Erro ao efetuar requisição:
            <div ng-bind-html="erroRequisicao"></div>
        </div>
        <h3>{{app}}</h3>
        </hr>
        <input type="text" ng-model="criterioDeBusca" placeholder="Insira o que você procura" class="form-control"/>
        <table class="table table-striped" ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th>Serial</th>
                <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                <th><a href="" ng-click="ordenarPor('operadora.nome')">Operadora</a></th>
                <th>Data</th>
            </tr>
            <!--Percorrento um array que está no scope usando ngRepeat-->
            <tr ng-class="{negrito : contato.selecionado}"
                ng-repeat="contato in contatos | filter:{nome: criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDeOrdenacao">
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <th>{{contato.serial}}</th>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
            </tr>
        </table>

        <a href="#/novoContato" class="btn btn-primary btn-block">Novo Contato</a>
    </div>