<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <title>Lista telefonica</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <style type="text/css">
        .jumbotron {
            width: 60%;
            text-align: left;
            margin: 1% auto auto;
        }

        h3 {
            text-align: center;
        }

        .form-control {
            margin: 2%;
        }

        .negrito {
            font-weight: bold;
        }
    </style>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="lib/angular/i18n/angular-locale_pt-br.js"></script>
    <script>
        angular.module("listaTelefonica", ["ngMessages"]);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope, $filter) {

            //Tudo que desejamos acessar na view deve ser definido em scope...

            //...Isso inclui variáveis...

            $scope.app = "Lista Telefonica";
            $scope.contatos = [
                {nome: "Joao", data: new Date(), telefone: "9996-6655"},
                {nome: "Arthur", data: new Date(), telefone: "6545-8796"},
                {nome: "Chico", data: new Date(), telefone: "3476-4785"},
                {nome: "Antonio", data: new Date(), telefone: "6545-0985"}
            ];

            $scope.contatos = $filter

            $scope.operadoras = [
                {nome: "Tim", codigo: 10, categoria: "Residencial", preco: 1},
                {nome: "Oi", codigo: 16, categoria: "Residencial", preco: 0.6},
                {nome: "Claro", codigo: 13, categoria: "Residencial", preco: 3},
                {nome: "Vivo", codigo: 14, categoria: "Fixo", preco: 3},
                {nome: "Embratel", codigo: 21, categoria: "Fixo", preco: 0.5},
                {nome: "GVT", codigo: 44, categoria: "Fixo", preco: 0.6}
            ];

            //...E funções.

            $scope.isContatoSelecionado = function isContatoSelecionado(contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado;
                });
            };

            $scope.adicionarContato = function adicionarContato(contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            };

            $scope.apagarContatos = function apagarContatos(contatos) {
                $scope.contatos = contatos.filter(function (contato) {
                    if (!contato.selecionado) {
                        return contato;
                    }
                });
            }

            $scope.ordenarPor = function (campo, ordem) {
                $scope.criterioDeOrdenacao = campo;
                $scope.direcaoDeOrdenacao = !$scope.direcaoDeOrdenacao;
            }
        });

    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h3>{{app}}</h3>
        </hr>
        <input type="text" ng-model="criterioDeBusca" placeholder="Insira o que você procura" class="form-control"/>
        <table class="table table-striped" ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                <th><a href="" ng-click="ordenarPor('operadora.nome')">Operadora</a></th>
                <th>Data</th>
            </tr>
            <!--Percorrento um array que está no scope usando ngRepeat-->
            <tr ng-class="{negrito : contato.selecionado}"
                ng-repeat="contato in contatos | filter:{nome: criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDeOrdenacao">
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
            </tr>
        </table>
        <form name="contatoForm">
            <input class="form-control" type="text" name="nome" ng-model="contato.nome" placeholder="Nome"
                   ng-required="true" ng-minlength="10"/>
            <input class="form-control" type="text" name="telefone" ng-model="contato.telefone" placeholder="Telefone"
                   ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
            <select class="form-control" ng-model="contato.operadora"
                    ng-options="operadora.nome + ' (' + (operadora.preco | currency) + ')' group by operadora.categoria for operadora in operadoras | orderBy:'+nome'">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>

        <div ng-messages="contatoForm.nome.$error" ng-show="contatoForm.nome.$dirty">
            <div ng-message="required" class="form-control alert alert-danger">
                Por favor, preencha o nome
            </div>

            <div ng-message="minlength" class="form-control alert alert-danger">
                O nome deve ter pelo menos 10 caracteres
            </div>
        </div>

        <div ng-messages="contatoForm.telefone.$error" ng-show="contatoForm.telefone.$dirty">
            <div ng-message="required" class="form-control alert alert-danger">
                Por favor, preencha o telefone
            </div>

            <div ng-message="pattern" class="form-control alert alert-danger">
                O telefone deve ter o formato DDDDD-DDDD
            </div>
        </div>

        <button class="btn btn-primary btn-block form-control" ng-click="adicionarContato(contato)"
                ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato
        </button>
        <button class="btn btn-danger btn-block form-control" ng-click="apagarContatos(contatos)"
                ng-disabled="!isContatoSelecionado(contatos)">Excluir contato(s)
        </button>
    </div>
{{contatos}}
</body>
</html>